
.site-footer {
    padding: 1em;
    background-color: $theme__color-main_red;
    }
    .site-info{
        color: #FFF;
        font-size: .6em;
        text-align: center;
        a{
            color: #FFF;
            }
        .copyright{

            }
        }

