//Custom theme main colors
$theme__color-main_red: #F74C4C; // F74C4C, FF3342, D50000 ,BF360C,  B71C1C
$theme__color-main_deepblue: #012530;
$theme__color-main_02: #28544B;
$theme__color-main_03: #ACBD86;
$theme__color-main_04: #FFD6A0;
$hover_over__red: #FA5D5B;
$hover_over__oldrose: #FFCFC9;
// headers
$color__text-header: #546E79;
$color__radio: #F87DA9;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #F74C4C ; //#012530
$color__link-visited: #DA70D6;
$color__link-hover: #87CCE5; //2474A6, 5CCFE6, purple-8C8EC1
$color__text-main: #37474F;


$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
// Buttons
$btn-send: #87CCE5;
$btn-focus:#00FFCF;
// Code table stripe color

$code__html: #B23C3C;
$code__css: #3569B2;
$code__js: #EBD937;
$code__md: #00FFCF;
$code__uni: #546E79;


// Material Gray

$blueGray_50:  #ECEFF1;
$blueGray_100: #CFD8DC;
$blueGray_200: #B0BEC5;
$blueGray_300: #90A4AE;
$blueGray_400: #78909C;
$blueGray_500: #607D8B;
$blueGray_600: #546E7A;
$blueGray_700: #455A64;
$blueGray_800: #37474F;
$blueGray_900: #263238;