.global-site-wrap {
    // min-height: 80vh;
}

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 .5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/**
    MAIN LAYOUT
    ------------------------------------------
 */

.index-content__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 2.5px;
    @media screen and (max-width: $screen__sm) {
        grid-template-columns: 1fr;
        padding: 0.5em 0;
    }
}

.article-card__container {
    // content-search.php
    display: grid; //grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); // delete
    grid-gap: 10px;
    padding: 5px;
    @media screen and (max-width: $screen__sm) {
        grid-template-columns: 1fr;
        padding-bottom: .5em;
    }
    svg {
        fill: $theme__color-main_red;
    }
}

.page_content__container {
    max-width: 40em;
    padding: 0 1em;
    margin: 0 auto;
}